*.exe
*.cache
*.pdb
*.suo
*.dll
UniCadeAndroid/UniCadeAndroid/bin/Debug/UniCadeAndroid.dll.mdb
*.xsd
UniCadeAndroid/UniCadeAndroid/UniCadeAndroid.csproj.bak
*.stamp
UniCadeAndroid/UniCadeAndroid/packages.config
*.java
*.mdb
*.apk
*.props
*.mj
*.suo
*.cache
*.pdb